/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/storage/*.key
/storage/dumps
/vendor
/docker
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
